# Welcome to this Notebook on Basic Data Wrangling with Pandas
Pandas is an open-source Python library for data analysis and management. It provides data structures for table-like data as well as tools  for data manipulation (e. g. filtering, merging, or sorting).

Please refer to the Pandas documentation (https://pandas.pydata.org/docs/).

A prerequisite for using this notebook is basic knowledge of Python programming.

## Imports

In [ ]:
# Execute this cell to import Pandas
import pandas as pd

## Pandas DataFrames and Series

In [ ]:
# Create a Series (pd.Series) from "mylist" (fill the list with whatever values you like)
mylist = ...

myseries = ...

myseries

In [ ]:
# Create a DataFrame (pd.DataFrame) from the "cities" dictionary
cities = {
    'name': ['Kigali', 'Gisenyi', 'Huye', 'Gitarama', 'Musanze', 'Byumba', 'Cyangugu', 'Kibuye', 'Rwamagana', 'Kibungo'],
    'population': [1132686, 136830, 89600, 87613, 86685, 70593, 63883, 48024, 47203, 46240]
}

cities_dataframe = ...

cities_dataframe

## Importing data

In [ ]:
dataset_url = "https://raw.githubusercontent.com/MBAZA-NLP/nlp-training/main/data/kinnews_0_500.csv"

# Read the CSV file from the URL and store it in the variable "data"
data = ...

data

## Understanding your data

In [ ]:
# Show the shape of the data

In [ ]:
# Show the first 17 rows of your data

## Filtering your data

In [ ]:
# Select only the "title" column

In [ ]:
# Select rows 100-120 in the "content" column

## Combining data from multiple sources

In [ ]:
# Read the other dataset
dataset2_url = "https://raw.githubusercontent.com/MBAZA-NLP/nlp-training/main/data/kinnews_1000_1500.csv"

data2 = ...

In [ ]:
# Make (concatenate) one big DataFrame out of both datasets
all_data = ...

all_data

In [ ]:
# Merge the text labels
text_labels_file_url = "https://raw.githubusercontent.com/MBAZA-NLP/nlp-training/main/data/labels.csv"
text_labels = ...

full_data_with_labels = ...
full_data_with_labels

## Basic DataFrame operations

In [ ]:
# Add a column indicating the language of the text

In [ ]:
# Delete the column you have just added

In [ ]:
# Compute the mean length of the title and content columns (in characters)
title_mean_length = ...
content_mean_length = ...

print(f'The average length of the title in the data set is {title_mean_length} characters and of the content {content_mean_length} characters.')

In [ ]:
# Select rows where the length of the title is below 25 characters

In [ ]:
# Sort the data according to the length of the content

In [ ]:
# Remove duplicates (defined as rows with the same title) from the data and check how many rows remain